* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h1.ant-typography,
h2,
h2.ant-typography,
h3,
h3.ant-typography,
h4,
h4.ant-typography,
h5,
h5.ant-typography,
h6,
h6.ant-typography,
p {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
